<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
  <%= render 'shared/navigation' %>

 
<div class="cover-container">
  <div class="house-name"> 
    <h1>
      <%= @house.name %>
    </h1>
  </div>
  <div class="bill-list">
  <h2>Bills</h2>
    <ul>
      <% for bill in @bills %>  
        <li>
          <div class="large-6 columns">
            <%= bill.title %>
            <%= bill.amount %>
            <%= bill.due_date %>
            <%= bill.provider %>
        </li>
      <% end %>
    </ul>
</div> 

</div>
   
<div class="container">

  <% for user in @users %>
    <div class="column">
      <div class="profile-container">
        <div class="user-img-div">
          <img src="<%= user.img_url %>">
        </div>
        <div class="profile-name">
          <span><%= user.first_name %> <%= user.last_name %></span>
        </div>
      </div>
        <div class="chore" id="<%= user.id %>">
          <% user.chores.each do |f| %>
            <div id="connected-chore" class="chore-list">
              <input id="chore-checkbox" type="checkbox"><label for="chore-checkbox"></label>
              <span class="inner"><%= f.title %></span>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>

  </div>
</div>
</div>

