<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
  
  <%= render 'shared/navigation' %>


<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.img_url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @user.interests %>
</p>

<h2>Bills</h2>
    <ul>
      <% for bill in @bills %>  
        <li>
          <%= bill.title %>
          <%= bill.split_bill %>
          <%= bill.due_date %>
          <%= bill.provider %>
        </li>
      <% end %>
    </ul>
</div> 

<ul>
  <% for bill in @indiv_bill %>  
    <li>
      <%= bill %>
    </li>
  <% end %>
</ul>

<%= link_to 'House', house_path(current_user.house_id) %>

</div>
</div> 
