<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CheckMate" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">CheckMate</a></h1>
      </ul>
      <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <div class="login">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %> | Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "sign in", new_user_session_path %>
        <% end %>
        </div>
      </li>
    </ul>
     
    </nav>
    </div>


    
      <%= yield %>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>